@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
	font-family: Roboto;	
	width: 100%;
}
div#cadre {
    display: flex;
    flex-wrap: wrap;
	align-items: flex-start;
    justify-content: space-around;
}

img#logo {
    display: flex;
    margin: auto;
    width: 220px;
    height: inherit;
    border: inherit;
}
.border {
    border: solid 6px grey;
}

form {
	margin-bottom: 20px;
}
form #submit {
	border: none;    
	padding: 9px 12px;
    border-radius: 2px;
    background-color: #52B3D9;
    font-size: 1.1em;
    color: white;
}
form #submit:hover {
	cursor: pointer;
	background-color: #2ECC71;
}
form #valText {
	width: 300px;
	height: 34px;
	border-radius: 2px;
    border: #DADADA 1px solid;
    font-size: 1.2em;
    font-family: Indie Flower;
    padding-left: 10px;
}
h1, form {
	text-align: center;
}
img[id] {
    margin-top: 40px;
    height: 160px;
    margin: 20px;
    border: 1px solid lightgrey;
}